html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-text;
  background: #FBC825;
}

main {
  width: 100vw;
  min-height: 100vh;
  padding: 16px;
  
  @include bp(md){
    // display: grid;
    // grid-template-columns: 0.33fr 1fr 0.33fr;
    // grid-gap: 16px;
    display: flex;
    position: relative;
    gap: 16px;

    .sidebar {
      width: 240px;
      position: sticky;
      top: 16px;
    }

    .content-wrapper { flex: 1; }
  }

  @include bp(lg){
    .sidebar {
      width: 300px;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  transition: all 0.2s ease;
}

// @media (prefers-color-scheme: dark) {
//   html {
//     color-scheme: dark;
//   }

//   body {
//     background: $brown;
//   }
// }