// all colors used within app

$yellow:  #fbc825;
$blue:    #4e5fd2;
$brown:   #a37a56;
$cream:   #fbf5eb;
$black:   #0a0e29;
$white:   #fefdfb;
$gray:    #e3e4e8;

$primary:   $yellow;
$secondary: $blue;